<div class="about-a-comp">
  <p class="capt">О компании ИП Швецова Мария Валерьевна</p>
      <ul class="pictures">
          <li class="litem">
              <figure class="about">
                  <img class="goods" src="assets/s1.jpg" alt="s1"> 	
                  <figcaption>Комплект шапка+снуд 1700р</figcaption>
              </figure>
          </li>
          <li class="litem">
              <figure class="about">
                  <img class="goods" src="assets/s2.jpg" alt="s2"> 	
                  <figcaption>Шапка 800р</figcaption>
              </figure>
          </li>
          <li class="litem">
              <figure class="about">
                  <img class="goods" src="assets/s3.jpg" alt="s3"> 	
                  <figcaption>Снуд 1200р</figcaption>
              </figure>
          </li>
      </ul>
      <footer>
        <p class="country">Норве́гия (букмол Norge, нюнорск Noreg), официальное название — Королевство Норвегия (букмол Kongeriket Norge, 
                нюнорск Kongeriket Noreg) — государство в Северной Европе.</p>
        <p class="country" id="textarea">Располагается в западной части Скандинавского полуострова и на огромном количестве прилегающих мелких островов, а также 
                архипелаге Шпицберген (Свальбард), островах Ян-Майен и Медвежий в Северном Ледовитом океане. Заморской территорией Норвегии 
                является остров Буве в южной части Атлантического океана. Также Норвегия претендует на территории в Антарктике, попадающие 
                под действие конвенции 1961 года — Остров Петра I и Землю Королевы Мод.</p>
        <ul class="controls">
            <li class="show"><a href="#textarea">Показать всё</a></li>
            <li class="hide"><a href="#">Убрать</a></li>
        </ul>
        <a class="footer" href="https://vk.com/"><img class="footer" src="assets/vk.jpg" alt="vk"></a>
        <a class="footer" href="https://www.instagram.com/"><img class="footer" src="assets/insta.jpg" alt="insta"></a>
        <a class="footer" href="https://pinterest.com/"><img class="footer" src="assets/pint.jpg" alt="pint"></a>
        <a class="footer" href="https://facebook.com/"><img class="footer" src="assets/fb.jpg" alt="fb"></a>
        <a class="footer" href="https://twitter.com/"><img class="footer" src="assets/tw.jpg" alt="tw"></a>
        <a class="footer" href="https://youtube.com/"><img class="footer" src="assets/yt.jpg" alt="yt"></a>
        <a class="footer" href="https://web.telegram.org/"><img class="footer" src="assets/tg.jpg" alt="tg"></a>
    </footer>
</div>