<div class="info">
  <div class="content">
      Швецова Мария Валерьевна
      <ul class="contacts">
          <li class="litem">+79292194567</li>
          <li class="litem"><a class="site" href="https://vk.com/">Страница вк</a></li>
          <li class="litem"><a class="site" href="https://www.instagram.com/cozy_winter_snoods/">Перейти на сайт</a></li>
          <li class="litem"><a class="site" href="https://vk.com/">Информация о компании</a></li>
          <li class="litem"><a class="site" href="https://vk.com/">Показать реквизиты</a></li>
      </ul>
  </div>
  <!--img class="pay" src="cat1.jpg" alt="cat"-->
</div>