<div>
  <div>
      <div>
          <form class="from-card" [formGroup]="this.cardForm" (ngSubmit)="collectInfo()">
              <div class="card-data">
                  <ul class="card-data-icons">
                          <li class="card-data-icons-item icon-visa"></li>
                          <li class="card-data-icons-item icon-mastercard"></li>
                          <li class="card-data-icons-item icon-maestro"></li>
                  </ul>
                  <input class="card-data_input card-data-number" type="text" 
                      name="CardNumber" placeholder="XXXX XXXX XXXX XXXX" formControlName="cardDataNumber">
                  <input class="card-data_input card-data-expires" type="text" 
                          name="CardDate" placeholder="ММ/ГГ" formControlName="cardDataExpires">
                  <input class="card-data_input card-data-cvc" type="text" 
                          name="CVC" placeholder="XXX" formControlName="cardDataCvc">
              </div>
              <div class="extra">
                  <label class="caption">Сумма:</label>
                      <input class="card-data_input" type="number" name="sum" placeholder="От 1000 до 75000"
                      formControlName="sum">
                  <label class="caption">Комментарий:</label>
                  <input class="card-data_input" type="text" name="comment" 
                         placeholder="До 150 символов" formControlName="comment">
                  <label class="caption">Электронная почта:</label>
                  <input class="card-data_input" type="email" name="post" 
                          placeholder="Ваша почта" formControlName="email">
                  <div class="button-wrapper button-small">
                      <span class="button-bg"></span>
                      <input class="button" type="submit" name="pay" value="Заплатить" [disabled]="this.cardForm.invalid">
                  </div>
              </div>
          </form>
      </div>
  </div>

</div>